@using HotelPortal.Models.RoomViewModels
@model RoomViewModel
@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-sm-4">
        <form enctype="multipart/form-data" asp-action="Create" asp-route-hotelId="@Model.HotelId">
            <h2 style="padding-bottom:15px">Add room</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="Price" class="control-label"></label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="Price" name="price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="Capacity" class="control-label"></label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="Capacity" name="capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label asp-for="Images" class="control-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Images" type="file" multiple />
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <a class="btn btn-default btn-block" asp-action="Index">Back to List</a>
                </div>
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-primary btn-block" value="Add Room" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}