@using HotelPortal.Models.RoomViewModels
@model RoomEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-sm-4">
        <h2>Edit</h2>

        <h4>Room</h4>
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="Price" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Capacity" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Images" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Images" type="file" multiple />
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6" style="padding-bottom:10px">
                    <a value="GO BACK" class="btn btn-default btn-block"
                       onclick="window.location.pathname = '/Rooms/Details/@Model.Id'">Back</a>
                </div>
                <div class="col-sm-6">
                    <input type="submit" value="Save" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
        <form asp-controller="Rooms" asp-action="Delete">
            <div class="form-group row">
                <div class="col-sm-12" style="padding-bottom:10px">
                    <input type="hidden" value="@Model.Id" name="id" />
                    <input class="btn btn-warning btn-block" type="submit" value="Delete"/>
                    <!--asp-controller="Rooms" asp-action="Delete" asp-route-id="@Model.Id"-->
                </div>
            </div>
        </form>
    </div>
        <div class="col-sm-8">
            <div id="images">
                <div class="col-sm-12">
                    <h2>Images:</h2>
                    <!--<label asp-for="Images" class="control-label col-sm-12"></label>-->
                </div>
                @if (ViewBag.ImageIds != null)
                {
                    <div>
                        <!-- Bootstrap 4 cards... -->
                        <div class="flex-row row">
                            @foreach (var id in ViewBag.ImageIds)
                            {
                                <div class="col-sm-4">
                                    <div class="flex-row thumbnail">
                                        <img src="@Url.Action("RoomImage", new {imageId = id})" />
                                        <div class="caption">
                                            <p class="flex-text"></p>
                                            <p>
                                                <a class="btn btn-warning btn-block"
                                                   onclick="location.href='@Url.Action("RemoveRoomImage", new { imageId = id })'">
                                                    Remove
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
