@using HotelPortal.Models.BookingViewModels
@model BookingViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Book room</h2>
<hr />
<div class="row">
    <div class="col-sm-4">
        <form asp-controller="Bookings" asp-action="Create" asp-route-id="@Model.Room.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4><b>Personal data:</b></h4>
            <div class="form-group row">
                <label asp-for="Name" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Name" size="40" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Address" size="40" class="form-control" />
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3">E-mail:</label>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IDNumber" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="IDNumber" class="form-control" />
                    <span asp-validation-for="IDNumber"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FirstDay" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="FirstDay" class="form-control" />
                    <span asp-validation-for="FirstDay" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LastDay" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="LastDay" class="form-control" />
                    <span asp-validation-for="LastDay" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="GuestCount" class="control-label col-sm-3">Guests</label>
                <div class="col-sm-9">
                    <select asp-for="GuestCount" class="form-control" asp-items="ViewBag.Capacity"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <a class="btn btn-default btn-block" onclick="location.href='@Url.Action("Details","Hotels", new {id=Model.Room.HotelId})'">
                        Back to List
                    </a>
                </div>
                <div class="col-sm-6">
                    <input type="submit" value="Book" class="btn btn-primary btn-block" />
                </div>
            </div>      
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
