@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
    <p>
       HotelPortal is part of an ongoing project. It's a collaboration between  
        <a href="https://www.aut.bme.hu/">BME AUT</a>
        and Hotel Portal Holdings Inc.
    </p>

