@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<address>
    BME building Q<br />
    Budapest, Magyar Tudósok Körútja 2, 1117<br />
    <abbr title="Phone">P:</abbr>
    0611234567
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support.hotelportal@hotelportal.com">support.hotelportal@hotelportal.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:buisness.hotelportal@hotelportal.com">buisness.hotelportal@hotelportal.com</a>
</address>

